
	/* Page Styles
================================ */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: normal 1em/1.5 sans-serif;
	color: #222;
	background-color: #000;
	margin: 0 auto;
}

#header-wrap {
    width: 1280px;
    padding: 20px 0;
    margin: 0 auto;
    margin-bottom: 20px;
}

.logo-menu {
    width: 200px;
    float: left;
}

.logo {
    height: 55px;
}

#nav-menu {
    float: left;
}

#tool-menu {
    float: right;
}

#header-wrap ul {
    display: table-row;
}

#header-wrap ul li {
    width: 100px;
    height: 35px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

#footer-wrap {
    width: 1280px;
    padding: 50px 0;
    margin: 0 auto;
    margin-bottom: 80px;
}

#footer-wrap ul li {
    width: 150px;
    height: 20px;
    text-align: left;
    vertical-align: middle;
    position: relative;
}

#footer-wrap img {
    margin-top: 20px;
}

.footer-nav-menu {
    float: left;
}

.footer-logo {
    width: 250px;
    float: left;
}



.container{
    width:100%;
    float:left;
}

.feature{
   background-color: #000;
}

.popular{
    background-color: #212121;
}


div#featured, div#popular_channels{
	width: 640px;
	margin: 0 auto;
    text-align: center;
    margin-top:40px;
    /*padding: 5px; */

}

div#featured{
    margin-top:20px;
    /*padding: 5px; */
}

.imgwrapper{
    position: relative;
    margin-bottom:15px;
}

.imgwrapper .icon{
    position: absolute;
    bottom: 15px;
    right:15px;
    z-index: 10;
}

h1{
	color:whitesmoke;
    font-size:15px;
    text-align: center;
}
.list_wrapper h1{
    text-align: left;
    font-size:15px;
    font-weight: normal;
}
article h1{
    text-align:left;
}

article h1 a{
    font-size:14px;
    font-weight:normal;
}

.footer li{
    display:inline;
    height:200px;
}

.inner_footer{
    height:100px;
    display: table-row;
}
.inner_footer li{
    display: table-row;
    text-align: left;
    height:20px;
    font-size:13px;
}
.redbar{
    width:70px;
    height:2px;
    background-color: red;
    margin:0 auto;
    margin-bottom:40px;

}
a{
	text-decoration: none;
	color:whitesmoke;
	font-size: 0.8em;
}

ul{
	list-style: none;
	/*background-color:darkgreen; */
	
	overflow: hidden;
	margin: 0 auto;
	padding: 0px;
}


/*ul div.list_wrapper{*/
	/*margin-left: 10px;*/
	/*margin-right: 10px;*/
/*}*/

	ul article .logo{

	}

	ul h1{
		margin: 0px;
		padding: 0px;
		font-size:0.9em;
	}

	ul article .subtitle{
		margin: 0;
        margin-top:10px;
		padding:0;
		color:#777777;
		font-size: 0.7em;
        text-align: left;
	}
    ul article .subtitle span{
        color:#cd0a0a;
    }

.clearfix{
    margin-top: 40px;
}
.cleafix:before{
		content: "";
		display: table;
		clear:both;
	}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
/*************** 
featured list item style
***************/


	ul li.featured_list{
		width: 300px;
		height: 249px;
		float:left;
		margin-right: 20px;
        margin-bottom:40px;
		//background-color: lightcoral;
	}

		ul li.featured_list:nth-child(2n){
			margin-right: 0px;
		}


/*************** 
popular channels
***************/
    .list_wrapper ul{
        text-align: center;
        margin: 0 auto;
    }
    .list_wrapper ul li{
        display: inline-block;
        min-height:245px;
        text-align: center
    }

    .list_wrapper ul li div{
        float:left;
        text-align: center;
    }
	ul li.popular_list{
		width: 140px;
		height: 205px;
		float: left;
		margin-right: 20px;
        margin-bottom:40px;
        display:inline;
		/*background-color: lightcoral;*/
	}

	ul li.popular_list:nth-child(4n){
		margin-right: 0px;
	}

/*************** 
media queries 
***************/


	@media (min-width: 640px) and (max-width: 960px){
		div#featured, div#popular_channels{
			width: 640px;
		}


	}

	@media (min-width: 960px) and (max-width: 1280px) {
		div#featured, div#popular_channels{
			width: 960px;
		}
		ul li.featured_list:nth-child(2n){
			margin-right: 20px;
		}
		ul li.featured_list:nth-child(3n){
			margin-right: 0px;
		}

		ul li.popular_list:nth-child(4n){
			margin-right: 20px;
		}
		ul li.popular_list:nth-child(6n){
			margin-right: 0px;
		}
	}



	@media (min-width: 1280px){
		div#featured, div#popular_channels{
			width: 1280px;
		}
        ul{ text-align: center;}
		ul li.featured_list:nth-child(2n){
			margin-right: 20px;
		}
		ul li.featured_list:nth-child(3n){
			margin-right: 20px;
		}
		ul li.featured_list:nth-child(4n){
			margin-right: 0px;
		}


		ul li.popular_list:nth-child(4n){
			margin-right: 20px;
		}
		ul li.popular_list:nth-child(6n){
			margin-right: 20px;
		}
		ul li.popular_list:nth-child(8n){
			margin-right: 0px;
		}
	}





